/* The OIS logo in the button */
.img_ois_menu_top {
  vertical-align: -10px;
  background: none;
  margin: 7px 0;
  display: inline-block;
  height: 16px;
  width: 30px;
}

/* Element surrounding the image */
.img_ois_menu_lower {
  margin-right: 3px;
}

/* The link element */
.ois_link {
  margin-right: 3px;
}

.ois_profile_button {
  position: relative;
  top: 3px;
}

.ois_othersite_info_button {
  border-radius: 2px !important;
  border: none !important;
  padding: 1px 10px 1px 10px !important;
  display: inline-block !important;
  cursor: pointer !important;
  text-decoration: none !important;
  color: #67c1f5 !important;
  background: rgba(103, 193, 245, 0.2) !important;
}
