/*             WEB PAGE CONTENT             */

/* The OIS logo in the button */
.img_ois_menu_top {
	vertical-align: -10px;
	background: none;
	margin: 7px 0;
	display: inline-block;
	height: 16px;
	width: 30px;
}

/* Element surrounding the image */
.img_ois_menu_lower {
	margin-right: 3px;
}

/* The link element */
.ois_link {
	margin-right: 3px;
}

.ois_profile_button {
	position: relative;
    top: 3px;
}

.ois_othersite_info_button {
	border-radius: 2px !important;
	border: none !important;
	padding: 1px 10px 1px 10px !important;
	display: inline-block !important;
	cursor: pointer !important;
	text-decoration: none !important;
	color: #67c1f5 !important;
	background: rgba( 103, 193, 245, 0.2 ) !important;
}

/*              POPOUT CONTENT              */

/* Componet snippets */
.ois_inline {
	display: inline-block;
}

.ois_vert-align {
	vertical-align: middle;
}

.ois_text_justify {
	text-align: justify;
}

.ois_margin-top-bot_auto {
	margin: auto 0;
}

/* Element specific */
.ois_body {
	width: 500px;
	font-size: 90% !important;
	line-height: 1 !important;
}

.ois_content {
	padding: 0 20px;
}

.ois_h3 {
	padding-left: 10px;
}

.ois_logo_img {
	padding-top: 8px;
}

.ois_fontawesome_size {
	font-size: 20px;
}

.ois_button_text_only {
	background:none!important;
    border:none;
    padding:0!important;
}

.ois_button_text {
	color: #039be5;
}